.support{
    width: 100vw;
    height: 56px;
    font-size: 24px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -5%;
}
.container{
    margin-top: 5%;
    margin-bottom: -5%;
    height: 64px;
    /* transform: translate(10, 0%) */
}


/* .contact{
    font-size: 16px;
    height: 64px;
    width: 100vw;

} */

.termsOf{
    height: 64px;
    margin-top: 5%;
    margin-bottom: -5%;

}

.law{
    height: 64px;
    margin-top: 5%;
    margin-bottom: -5%;
    
}
.fund-settlemen{
    height: 64px;
    margin-top: 5%;
    margin-bottom: -5%;
}
.privacypolicy{
    height: 64px;
    margin-top: 5%;
    margin-bottom: -5%;
}
.company{
    height: 64px;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: -5%;
}