.btn {
    /* width: '95%';
    height: auto;
    left: 1rem;
    right: 1rem;
    display: table-row;
    height: auto; 
    margin-right: 4.8%;
    margin-left: 4.8%;
    justify-content: center; 
    width: 90%; */
    right: 1rem;
}
